body {
    background-color: lavender;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: medium;
}

div {
    margin: auto;
    text-align: left;
}

input, select {
    font-family: 'Trebuchet MS';
    font-size: medium;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

    a:hover {
        color: crimson;
    }

h3 {
    color: purple;
}
