body {
    background-color: lavender;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
}

h1, h2, h3 {
    font-family: "comic Sans MS";
}

div {
    margin: auto;
    text-align: left;
}

input, select {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: medium;
}

