body {
    background-color: lavender;
    text-align: center;
    font-family: 'Arial Unicode MS';
    font-size: medium;
}

div {
    margin: auto;
    text-align: left;
}

input, select {
    font-family: 'Arial Unicode MS';
    font-size: medium;
}

a {
    text-decoration: none;
}
